@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



/* Custom Styles Below */

body {
	font-family: 'Roboto', sans-serif;
}

/* Theme Colors */

/* Fonts */
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
		url('../fonts/Roboto-Regular.woff') format('woff'),
		url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

.font-roboto {
	font-family: 'Roboto';
}

@font-face {
	font-family: 'Roboto-Italic';
	src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
		url('../fonts/Roboto-Italic.woff') format('woff'),
		url('../fonts/Roboto-Italic.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: italic;
}

.font-roboto-italic {
	font-family: 'Roboto-Italic';
}

@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light.woff2') format('woff2'),
		url('../fonts/Roboto-Light.woff') format('woff'),
		url('../fonts/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

.font-roboto-light {
	font-family: 'Roboto-Light';
}

@font-face {
	font-family: 'Roboto-LightItalic';
	src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
		url('../fonts/Roboto-LightItalic.woff') format('woff'),
		url('../fonts/Roboto-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
	font-style: italic;
}

.font-roboto-light-italic {
	font-family: 'Roboto-LightItalic';
}

/* img {
	@apply py-2;
  } */
  

p {
	@apply py-2;
  }
  
  h2 {
	@apply text-2xl;
  }
  
article {
	@apply py-20;
  }

  div[data-content-id] {
    @apply pt-8 pr-80 mr-8; /* You can adjust the value (4) based on your preferred left padding size */
}
div[design] {
    @apply pl-8 pl-80 m-8; /* You can adjust the value (4) based on your preferred left padding size */
}
div card {
    @apply pl-8 pl-80 m-8; 
}

@layer components {
	.card {
	  @apply flex flex-wrap bg-white rounded-xl shadow-md overflow-hidden;
	}
	.card-column {
	  @apply w-1/2 p-4;
	}
  }

  .card {
	@apply pl-8 pr-80 m-8; 
  }
  
  th {
	@apply pl-8 pr-80 m-8; 
  }
  